@import "tailwindcss";

:root {
  --background: #f2f0e3;
  --foreground: #2e2e2e;
}

@theme {
  --font-geist: "geist", sans-serif;
  --font-neopixel: "neopixel", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist);
}

@layer components {
  .wrapper {
    width: 100%;
    max-width: 960px;
    padding-inline: 1.5rem;
    margin-inline: auto;
    @media (min-width: 40rem) {
      & {
        padding-inline: 2.5rem;
      }
    }
  }
}
