@import "tailwindcss";

@theme {
  /* Fonts */
  --font-geist: "geist", sans-serif;
  --font-orbitron: "orbitron", sans-serif;
  /* Colors */
  --color-light: #f2f0e3;
  --color-dark: #1f1f1f;
  --color-light-text: #2e2e2e;
  --color-dark-text: #d1cfc0;
}

:root {
  --background: var(--color-light);
  --foreground: var(--color-light-text);
}

.dark {
  --background: var(--color-dark);
  --foreground: var(--color-dark-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist);
}

@layer components {
  .wrapper {
    width: 100%;
    max-width: 960px;
    padding-inline: 1.5rem;
    margin-inline: auto;
    @media (min-width: 40rem) {
      & {
        padding-inline: 2.5rem;
      }
    }
  }
}
