@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Fonts */
  --font-geist: "geist", sans-serif;
  --font-orbitron: "orbitron", sans-serif;
  /* Colors */
  --color-light: #f2f0e3;
  --color-dark: #1f1f1f;
  --color-light-text: #2e2e2e;
  --color-dark-text: #d1cfc0;
  --color-orange: #f76f53;
}

.dark {
  --background: var(--color-dark);
  --foreground: var(--color-dark-text);
}

body {
  font-family: var(--font-geist);
}

@layer components {
  .wrapper {
    width: 100%;
    max-width: 960px;
    padding-inline: 1.5rem;
    margin-inline: auto;
    @media (min-width: 40rem) {
      & {
        padding-inline: 2.5rem;
      }
    }
  }
}
